     div { margin: 0px; padding: 0px; }
     
     /* 공통속성  */
     #board_list{ margin : 40px auto 0px auto; width: 1300px;}
     
     /* 회원가입 설명란 */
     #space_1{ height: 50px; }
     #space_2{ height: 100px; width:1300px; }
     #info1 { display: inline-block; width:585px; }
     #info2 { display: inline-block; height: 50px; font-size: 30px; font-weight:bold; text-align: center; }
     #info3 { display: inline-block; width:200px; }
     #info4 { display: inline-block; width:480px; }
     #info5 { display: inline-block; font-weight: bold; background: rgb(119,175,130); border-radius: 10px; color: white;
              height : 23px; width: 24px; text-align: center; line-height: 23px; font-size: 14px; }
     #info6 { display: inline-block; font-weight:bold; text-align: right; }
     #info7 { display: inline-block; font-weight:bold; color:darkgray; }
     #space_3 { height : 20px; }
     
     /* 동의란 */
     #applyDiv1 { display : inline-block; width : 288px; height : 30px; }
     #applyDiv2 { display : inline-block; width : 700px; height : 800px; border: 2px solid lightgray; }
     #apply1 { height : 50px; }
     #apply2 { display : inline-block; width: 45px; }
     #apply3 { display : inline-block; } 
     .applyRadio { width: 15px; height: 15px; cursor: pointer; vertical-align: bottom; }
     #apply4 { display : inline-block; font-size: 15px; width : 600px; margin-left: 5px; vertical-align: bottom; } 
     #apply5 { display : inline-block; width : 43px; }
     #apply6 { display : inline-block; height : 15px; width : 600px; border-bottom: 2px solid lightgray; }
     #space_4 { height : 30px; }
     #space_8 { height : 40px; }
     #apply7 { display : inline-block; }
     #apply8 { display : inline-block; font-size: 15px; margin-left: 5px; vertical-align: bottom; }
     #apply9 { display : inline-block; font-size: 15px; color: red; }  
     #space_5 { height : 15px; }  
     #apply10 { display : inline-block; width : 600px; height : 250px; border: 2px solid lightgray; overflow: scroll; font-size: 13px; }
     p { margin-left: 15px; margin-right: 10px; }
     
     /* 버튼  */
     #space_6 { display : inline-block; width : 420px; height : 40px; }
     #applyBtn1 { background: lightgray; color:white; width: 200px; height : 50px; 
                  border: none; text-align: center; font-size: 15px; font-weight: bold; cursor: pointer; }
     #space_7 { display: inline-block; width: 10px; }
     #applyBtn2 { background: rgb(119,175,130); color:white; width: 200px; height : 50px; 
                  border: none; text-align: center; font-size: 15px; font-weight: bold; cursor: pointer; }
                  
     #applyBtn1, #applyBtn2:focus{ outline: none; }
     
     
     
     