     div { margin: 0px; padding: 0px; }
     
     /* 공통속성  */
     #board_list{ margin : 40px auto 0px auto; width: 1300px;}
     
     /* 인증방법 설명란 */
     #space_1{ height: 50px; }
     #space_2{ height: 100px; width:1300px; }
     #info1 { display: inline-block; width:558px; }
     #info2 { display: inline-block; height: 50px; font-size: 30px; font-weight:bold; text-align: center; }
     #info3 { display: inline-block; width:200px; }
     #info4 { display: inline-block; width:499px; }
     #info5 { display: inline-block; font-weight:bold; color:darkgray; text-align: right; }
     
     /* 테이블 상단바  */
     #space_3{ height: 30px; }
     #space_4{ display:inline-block; width:250px; }
     #loginBox { display:inline-block; height:280px; width:730px; border: 1px solid rgb(213, 213, 213); }
     
     /* 아이디가 존재하지 않으면 */
     #noIdSpace1 { height: 80px; }
     #noId { text-align: center; font-size: 20px; font-weight: bold; }
     #noIdSpace2 { height: 40px; }
     #noIdDiv { text-align: center; }
     #noIdJoin { background-color: rgb(119,175,130); color: white; border: none;
              width: 170px; height: 40px; font-weight: bold; cursor: pointer; }
     #noIdSpace3 { display: inline-block; width: 10px; }
     #noIdSearch { background-color: white; color:darkgray; border: 1px solid darkgray;
              width: 170px; height: 40px; font-weight: bold; cursor: pointer; }
     #noIdJoin, #noIdSearch:focus{ outline: none; }
     
     /* 아이디가 존재하면 */
     #searchIdSpace1 { height: 80px; }
     #searchIdInfo { text-align: center; }
     #searchId { display : inline-block; text-align: center; font-size: 20px; font-weight: bold; color: rgb(119,175,130);  }
     #searchId2 { display : inline-block; text-align: center; font-size: 20px; font-weight: bold; }
     #searchIdSpace2 { height: 40px; }
     #searchIdDiv { text-align: center; }
     #searchIdPwd { background-color: rgb(119,175,130); color: white; border: none;
                    width: 170px; height: 40px; font-weight: bold; cursor: pointer; }
     #searchIdSpace3 { display: inline-block; width: 10px; }
     #searchIdMain { background-color: white; color:darkgray; border: 1px solid darkgray;
                      width: 170px; height: 40px; font-weight: bold; cursor: pointer; }
     #searchIdPwd, #searchIdMain:focus{ outline: none; }