@charset "UTF-8";

/* 전체 div */
#all_div {
    margin: 80px auto 0px auto;
    width: 1000px;
}

/* img, 메뉴 이름, 검색 div */
#menu_div{
	padding: 0px 10px;
	display: flex;
/* 	background: rgb(200, 200, 255, 0.5); */
}

#menu_left_div{
	flex: 1;
	text-align: left;
}

#menu_img {
    width: 40px;
    height: 40px;
    text-align: left;
    vertical-align: bottom;
    color: rgb(202,240,170);
}

#menu{
	font-size: 30px;
	font-weight: 700;
	text-align: left;
}

#menu_right_div{
	flex: 3;
	text-align: right;
	position: relative;
	top: 10px;
}



#button_div {
    padding: 10px 0px 10px 0px;
}

#input_search {
    width: 200px;
    height: 26px;
}

#button_search{
	width: 60px;
	height: 30px;
	border: none;
	background: #77af82;
	color: white;
	border-radius: 5px;
}

/* 에러 멘트 div */
#error_div {
    margin: 100px auto;
    padding: 80px 0px 80px 0px;
    width: 900px;
    background: #efefef;
    text-align: center;
}

#x_circle{
	font-size: 50px;
}

#no_result{
	margin: 10px;
	font-size: 30px;
	font-weight: 700;
}

#button_list{
	margin: 20px;
	width: 70px;
	height: 30px;
	border: none;
	background: #77af82;
	color: white;
	border-radius: 5px;
}


/* 해쉬태그 div  */
#hashtag_div{
	padding: 10px;
	text-color : #a7e1af;
}

#hashtag_div a{
	text-decoration:none;
	color:black;
}
#hashtag_div a:hover{
    	text-decoration:none;
    	color:#497f55;
    	font-weight: 800;
}

#hashtag_div li{
		float: left;
		list-style: none;
		padding: 5px;
}

#hashtag_div ul{
    margin: 0px;
    display: inline-flex;
    list-style: none;
}


#li_name{
	background-color: snow;
	border-left: inset;
	border-color: springgreen;
}

/* input이나 button 클릭 시 outline 제거 */
#input_search, #button_search, #button_list:focus{
	outline: none;
}